/* Clipboard picker */

@import "~/.config/rofi/config.rasi"

window {
  width: inherit;
  height: inherit;
}

mainbox {
  children: [ "inputbar", "message", "listview" ];
}

entry {
  width: inherit;
  placeholder: "Search clipboard";
}

listview {
  columns: 1;
  lines: 8;
  fixed-height: true;
  spacing: 6px;
  cycle: true;
}

element {
  orientation: horizontal;
}

element-icon {
  size: 0%;
}

element-text {
  horizontal-align: 0.0;
  vertical-align: 0.5;
  margin: 0px;
  padding: 0px;
}
